<div class="main headerbox" fxLayout="column" fxFlexFill>
  <mat-toolbar class="primary-navigation mat-elevation-z6"
              >
    <mat-toolbar-row>
      <button mat-icon-button fxShow="true" fxHide.gt-sm (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <a class="btn btn-outline-light"
          *ngFor="let item of menuItems"
          [routerLink]="item.url"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: item.url === '/'}"
          mat-button>

          {{ item.text }}
        </a>
        <a  *ngIf="!isLoggedIn()" class="btn btn-outline-light" routerLink="/sign-up">Sign up</a>
        <a  *ngIf="!isLoggedIn()" class="btn btn-outline-light" routerLink="/login">Login</a>
        <button *ngIf="isLoggedIn()" class="btn btn-outline-light" (click)="logout()">Logout</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" fxLayout="row" fxFlex="100">
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a
          *ngFor="let item of menuItems"
          [routerLink]="item.url"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: item.url === '/'}"
          mat-list-item>
          <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
          {{ item.text }}
        </a>
        <a  *ngIf="!isLoggedIn()" class="btn btn-outline-light" routerLink="/sign-up">Sign up</a>
        <a  *ngIf="!isLoggedIn()" class="btn btn-outline-light" routerLink="/login">Login</a>
        <a *ngIf="isLoggedIn()" class="btn btn-outline-light" (click)="logout()">Logout</a>
        <a (click)="sidenav.toggle()" mat-list-item>
          <mat-icon>keyboard_arrow_left</mat-icon> Close
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

