<div class="container" style="min-height: 250px">
  <!--Form with header-->
  <div class="card mb-4 col-11 col-sm-8 mx-auto p-0">
    <div class="card-header">
      <div class="bg-light text-center">
        <h3 *ngIf="!isEditMode">Add new betting tip</h3>
        <h3 *ngIf="isEditMode">Edit betting tip</h3>
        <ng-template #modify><h3>Edit betting tip</h3></ng-template>
      </div>
    </div>


    <div class="card-body">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div class="form-group">
            <label for="event">Event name</label>
            <input type="text"
                   id="event"
                   ngModel class="form-control"
                   [(ngModel)]="bettingTip.event"
                   name="event"
            >
          </div>

          <div class="form-group">
            <label for="date">Event date</label>
            <input type="datetime-local" id="date"
                   class="form-control mb-3"
                   placeholder="Event date"
                   required
                   [(ngModel)]="bettingTip.dateString"
                   name="date"
            >

          </div>

          <div class="form-group">
            <label for="deadline">Deadline</label>
            <input type="time" id="deadline"
                   class="form-control mb-3"
                   placeholder="Deadline"
                   required
                   [(ngModel)]="bettingTip.deadline"
                   name="deadline"
            >
          </div>

          <div class="form-group">
            <label for="image_url">Pic URL</label>
            <input type="text"
                   id="image_url"
                   [(ngModel)]="bettingTip.picUrl"
                   name="image_url"
                   ngModel class="form-control">
          </div>


          <div class="form-group">
            <label for="bettingtip">Betting tip</label>
            <input type="text"
                   id="bettingtip"
                   [(ngModel)]="bettingTip.tipp"
                   name="bettingtip"
                   ngModel class="form-control">
          </div>
          <div class="form-group">
            <label for="odds">Odds</label>
            <input type="number"
                   id="odds"
                   name="odds"
                   [(ngModel)]="bettingTip.odds"
                   ngModel class="form-control">
          </div>


          <div class="form-group">
            <label for="analysis">Analysis</label>
            <textarea id="analysis"
                      style="min-height: 150px"
                      class="form-control"
                      placeholder="analysis"
                      required
                      [(ngModel)]="bettingTip.analysis" name="bet_tip_analysis"
            ></textarea>
          </div>

          <div class="form-group">
            <label for="category">Sport category: </label>
            <p></p>
            <select id="category" name="category"
                    (change)="selectSportsCategory($event.target.value)">
              <option *ngIf="!isEditMode" value="0">--All--</option>
              <option *ngIf="isEditMode" value={{preloadSportsValue}}> {{bettingTip.sportcategory}}</option>
              <option *ngFor="let sportcategory of sports" value={{sportcategory}}>
                {{sportcategory}}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="stake">Stake</label>
            <input type="number" id="stake" name="stake"
                   [(ngModel)]="bettingTip.stake"
                   class="form-control">
          </div>

          <div class="form-group" *ngIf="isEditMode">
            <label for="result">Result (0:0)</label>
            <input type="text" id="result" name="result"
                   [(ngModel)]="bettingTip.result"
                   class="form-control">
          </div>

          <div class="row">Is Tip Win? {{bettingTip.isWin}}</div>
          <div *ngIf="isEditMode" class="form-group">
            <p></p>
            <select id="bet_tip_iswin" name="bet_tip_iswin" (change)="selectTippIsWin($event.target.value)">
              <option *ngIf="!isEditMode" value="0">--All--</option>
              <option *ngFor="let isTippWin of isTippWins" value={{isTippWin}}>
                {{isTippWin}}
              </option>
            </select>
          </div>



          <button class="btn btn-primary" style="margin: 10px" type="submit"
                  (click)="open(content)">Save
          </button>
          <button class="btn btn-primary" style="margin: 10px"
                  (click)="resetForm(f)" >Reset
          </button>
          <button class="btn btn-info" style="margin: 10px" (click)="navigateBack() ">Back</button>
        </form>
      </div>
    </div>


  </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Betting tip saved</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      {{modalMessage}}
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="modal.close('Save click')">OK</button>
  </div>
</ng-template>
<hr>

