<div class="row hero-header hero-bg bg-image-builder"
     style="min-height: 450px; max-height: 600px;
     align-content: center;
     background: url(&quot;../assets/img/jumbotron-back2.jpg&quot;);" data-selector=".bg-image-builder">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 no-margin">
        <h1 class="editContent" data-selector=".editContent"
            style="outline: none;
             outline-offset: -2px; cursor: inherit;
              color: rgb(255, 255, 255); font-size: 48px; background-color: rgba(0, 0, 0, 0);
              font-family: raleway, sans-serif;">Welcome to DailyBet</h1>

      </div>
      <div class="col-lg-12 no-margin"
           style="outline: none;
             outline-offset: -2px; cursor: inherit">
        <a class="btn btn-dark btn-lg mt-4 mb-0"
           routerLink="/bettingtips"
           role="button"
        >
          Free stuff
        </a>
      </div>
      <div class="col-lg-12">

      </div>
    </div>
  </div>
</div>




