<div class="jumbotron bgrImage"
     style="align-content: center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 no-margin">
        <h1 class="editContent" data-selector=".editContent"
            style="outline: none;
             outline-offset: -2px; cursor: inherit;
              color: rgb(255, 255, 255); font-size: 48px; background-color: rgba(0, 0, 0, 0);
              font-family: raleway, sans-serif;">Welcome to DailyBet</h1>

      </div>
      <div class="col-lg-12 no-margin"
           style="outline: none;
             outline-offset: -2px; cursor: inherit">
        <a class="btn btn-dark btn-lg mt-4 mb-0"
           routerLink="/bettingtip"
           role="button"
        >
          Free stuff
        </a>
      </div>
      <div class="col-lg-12">

      </div>
    </div>
  </div>
</div>




